/**
   Header area
*/

.header {
    height: 100vh;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 20rem;
}

.home-link {
    text-decoration: none;
}

.nav-title {
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 6rem;
    color: var(--color-secondary--shade);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-title--text-primary {
    color: var(--color-primary);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
}

.nav-list--link {
    font-size: 1.8rem;
    color: var(--color-secondary--tint);
    line-height: 2.7rem;
    text-decoration: none;
}

/**
   Banner area
*/

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 20rem;
}

.banner--sub-title {
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 600;
    color: var(--color-secondary--tint);
}

.banner--title {
    font-size: 6.5rem;
    line-height: 11.6rem;
    font-weight: 700;
    color: var(--color-secondary--shade);
    margin-bottom: 2rem;
}

.banner-description {
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--color-secondary--light-tint);
    margin-bottom: 3rem;
}

.banner-img {
    width: 100%;
}